h1.headerPrincipal{
    height: 50px;
    margin-top: 0px;
    float: top;
    left: 10px;
    background-color: black;
    color: white; 
}

p.mainMenu{
    position: fixed;  
    float: left; 
    z-index: 1;
    background: rgba(230, 228, 228, 0.836);
    overflow-x: hidden;
    padding: 6px 8px 6px 16px;
    width: 150px;
    top: 10px;
    left: 10px;
    margin-top: 70px;
}

p.mainMenu a{
    padding: 6px 8px 6px 16px;
    text-decoration: none; /*enlever le texte souligné*/
    font-size: 25px;
    color: #2196F3;
    display: block; /*pour espacer le text en block*/
}
/* Dans le menu sur le coté, quand on passe la sourie sur un <a>*/
p.mainMenu a:hover {
    color: rgb(5, 60, 105);
  }

  .main {
      /* laisser assez d'espace pour le menu sur le coté*/
    margin-left: 200px; 
    margin-top: 10px;
    padding: 0px 10px;
  }

  img.photoProfil{
      float: left;
      margin-right: 20px;
      width: 200px;
      height: 200px;
  }

  p.legendPhoto{
      /* float: left; */
      padding-left: 40px;
      word-wrap: break-word;
      font-size: 25px;
  }
